html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Cairo', sans-serif;
    background-color: #0d0d0d;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    direction: rtl;
}

.visitor-message {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000000cc;
text-align: center;
    z-index: 10000;
    padding-top: 100px;
}
.send-message {
    background-color: #181818;
    padding: 20px 0;
}
.visitor-message .send-message p {
    font-size: large;
    font-weight: bold;
}
.visitor-message .send-message button {
    background-color: #000;
    color: #fff;
    padding: 5px 50px;
    outline: none;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.visitor-message .send-message button:hover {
    background-color: #464646;
}
header {
    background: linear-gradient(to right, #1e1e1e, #3a3a3a);
    color: #ffffff;
    padding: 50px 20px;
    text-align: center;
}

header h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #f8f8f8;
}

header p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #bfbfbf;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #0a0a0a;
    padding: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

nav a {
    color: #e0e0e0;
    padding: 15px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    transition: background 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background-color: #222222;
    color: #ffcc00;
}

.hero {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    text-align: center;
    /* padding: 0 20px; */
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
    overflow: hidden !important;
    position: relative;
}

.child-hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:  #000000af !important;
    padding: 5%;
    border-radius: 10px;
    z-index: 1;
}

.hero h1 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #ffcc00;
}

.hero p {
    font-size: 24px;
    margin-bottom: 20px;
}

.hero .btn {
    background-color: #ffcc00;
    color: #ffffff;
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

.hero .btn:hover {
    background-color: #ffd740;
    transform: scale(1.05);
}

.section {
    padding: 70px 20px;
    text-align: center;
    background-color: #151515;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.section.visible {
    opacity: 1;
    transform: translateY(0);
}

.section h2 {
    font-size: 36px;
    margin-bottom: 30px;
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #ffcc00;
}

.section h2::after {
    content: '';
    width: 60px;
    height: 4px;
    background: #ffcc00;
    display: block;
    margin: 10px auto;
}

.section-dark {
    background-color: #202020;
    color: #ffffff;
}

.services, .portfolio, .testimonials {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    /* position: relative; */
}

.service, .portfolio-item, .testimonial {
    flex: 1;
    margin: 20px;
    padding: 20px;
    border: 1px solid #3a3a3a;
    border-radius: 10px;
    background-color: #2a2a2a;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

.service:hover, .portfolio-item:hover, .testimonial:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
}

.contact-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #2a2a2a;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: auto;
}

#contactForm {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-form input, .contact-form textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #424242;
    border-radius: 30px;
    background-color: #333333;
    color: #ffffff;
}

.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: #bdbdbd;
}

.btn {
    background-color: #ffcc00;
    color: #ffffff;
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn:hover {
    background-color: #ffd740;
}

footer {
    background-color: #1a1a1a;
    color: #bdbdbd;
    text-align: center;
    padding: 40px 20px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    padding: 0 10px;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #ffd740;
}

/* أزرار التمرير */
/* .scroll-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease, background-color 0.3s ease;
    display: none;
}

.scroll-btn:hover {
    opacity: 1;
    background-color: #ffcc00;
}

#scrollToBottom {
    right: 80px;    
} */
/* canvas 3d  start*/
#networkCanvas > canvas {
    display: block;
    background-color: transparent;
    position: absolute;
    top: 50px;
    left: 20%;
    transform: translatex(-20%);
    /* width: 60vw; */
    z-index: 1;
}
#networkCanvas {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100vh;
}
/* canvas 3d end */
/*  WhatsApp button  start*/
       .whatsapp-button {
        position: fixed;
        bottom: 20px; /* المسافة من الأسفل */
        right: 20px; /* المسافة من اليمين */
        background-color: #0d0d0d; /* لون زر الواتساب */
        color: white;
        border: none;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        font-size: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        cursor: pointer;
        z-index: 1000; /* ليكون فوق باقي العناصر */
    }

    .whatsapp-button:hover {
        background-color: #128C7E; /* لون عند التمرير */
    }
/*  WhatsApp button  end*/

/* إعدادات استجابة */
@media (max-width: 768px) {
    header h1 {
        font-size: 32px;
    }

    header p {
        font-size: 16px;
    }

    nav a {
        padding: 10px;
        font-size: 14px;
    }

    .hero h1 {
        font-size: 40px;
    }

    .hero p {
        font-size: 18px;
    }

    .section h2 {
        font-size: 28px;
    }

    .section h3 {
        font-size: 22px;
    }

    .services, .portfolio {
        flex-direction: column;
        align-items: center;
    }

    .service, .portfolio-item {
        width: 90%;
        margin: 10px 0;
    }

    .contact-form {
        width: 90%;
    }

    footer {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 28px;
    }

    header p,
    nav a {
        font-size: 14px;
    }

    .hero h1 {
        font-size: 32px;
    }

    .hero p {
        font-size: 16px;
    }

    .section h2 {
        font-size: 24px;
    }

    .section h3 {
        font-size: 20px;
    }
}
